* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    background-color: #f8f8f8;
}
.TodoApp {
}
div#big {
    margin: auto;
    width: 100%;
    text-align: center;
}
div#center {
    margin: auto;
    width: 600px;
}
div#top {
    margin: 25px 0;
}
div#top {
    margin: 10px 0;
}
.div_class {
    min-height: 50px;
}
input.checkbox {
    float: left;
    size: 16px;
    height: 25px;
    width: 25px;
    margin: 15px 0px 20px 20px;
}
div#center {
    min-height: 0px;
}
div#container {
    margin: auto;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    width: 600px;
}
input#nota {
    height: 60px;
    font-size: 20px;
    text-align: center;
    color: #333;
    width: 580px;
    border: 1px solid #e6e6e6;
}
div#bottom {
    height: 30px;
}
h1 {
    font-size: 36px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d8d8d8;
    padding-right: 50px;
    color: #565656;
    font-weight: 200;
}
div#botton_left, div#botton_center, div#botton_right {
    float: left;
    width: 100px;
    color: #a0a0a0;
    font-size: 14px;
    font-family: roboto;
}
div#botton_center {
    width: 398px;
}
div#pocos {
    font-size: 86px;
    font-family: roboto;
    margin-bottom: 20px;
    color: rgba(175, 47, 47, 0.15);
}
/* input:focus{
    background-color: #d61919
} */